/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/
.mdl-ripple {
  background: #000000;
  opacity: 0.001;
}
.mdl-layout--fixed-drawer {
  background-color: fuchsia;
}
.mdl-layout__header-row {
  background-color: black;
}