/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/
.mdl-ripple {
  background: #000000;
  opacity: 0.001;
}
#my-header {
  background-color: rgb (102, 205, 170);
  color: hsl (350, 100%, 88%);
  padding: 40px;
}